streamlit
pandas
scikit-learn
matplotlib
seaborn
fpdf

# LangChain Core
langchain
langchain-core
langchain-community

# Hugging Face integration
huggingface_hub
langchain-huggingface

# Ollama support (if used locally)
ollama
langchain-ollama
